.table {
  display: table;
  width: 95%;
  table-layout:fixed;
  margin-left: 50px;
}

.description,
.tag,
.coin,
.exchange,
.value,
.exchangeRates,
.rate,
.payment {
  font-size: 1.3rem;
  color: var(--gray-200);
  padding: 0.6rem;
  background-color: var(--background);
  border-radius: 7px;
}

.descriptionValue,
.tagValue,
.coinValue,
.exchangeValue,
.valueValue,
.exchangeRatesValue,
.rateValue,
.paymentValue {
  font-size: 1.15rem;
  color: var(--gray-200);
  background-color: var(--background);
}
 
.body {
  display: table-row-group;
}
 
/* Ajustes responsivos com media queries */
@media (max-width: 600px) {
 .descriptionValue,
 .tagValue,
 .coinValue,
 .exchangeValue,
 .valueValue,
 .exchangeRatesValue,
 .rateValue,
 .paymentValue {
   width: auto;
   font-size: 1rem;
  }
}

.even{
  text-align: center;
  border-radius: 7px;
  background-color: var(--row-1);
  margin-top: 10px;
  margin-left: 5px;
}

.odd {
  text-align: center;
  border-radius: 7px;
  background-color:var(--row-2);
  margin-top: 10px;
  margin-left: 5px;
}


.btn {
  justify-content: center;
  align-items: center;
}

.editBtn, .delBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.delBtn {
  margin-left: 10px;
}

.editBtn:hover, .delBtn:hover {
  opacity: 0.8;
}

.img {
  width: 30px;
  margin: 10px;
}