.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.table {
  display: flex;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.description,
.tag,
.coin,
.exchange,
.value,
.exchangeRates,
.rate,
.last,
.payment{
  font-size: 1.5rem;
  color: var(--gray-200);
  align-items: flex-start;
  padding: 0.3rem 1rem;
  background-color: var(--background);
  border-radius: 7px;
  margin: 2px;
}

.description,
.descriptionValue {
  width: 210px;
}

.tag,
.tagValue {
  width: 210px;
}

.payment,
.paymentValue {
  width: 300px;
}

.value,
.valueValue {
  width: 120px;
}

.coin,
.coinValue {
  width: 120px;
}

.exchange,
.exchangeValue {
  width: 120px;
}

.rate,
.rateValue {
  width: 250px;
}

.exchangeRates,
.exchangeRatesValue {
  width: 300px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.even{
  text-align: center;
  border-radius: 7px;
  background-color: var(--row-1);
  margin-top: 10px;
  margin-left: 5px;
}

.odd {
  text-align: center;
  border-radius: 7px;
  background-color:var(--row-2);
  margin-top: 10px;
  margin-left: 5px;
}

.descriptionValue,
.tagValue,
.coinValue,
.exchangeValue,
.valueValue,
.exchangeRatesValue,
.rateValue,
.paymentValue {
  font-size: 1.125rem;
  color: var(--gray-200);
  padding: 0.3rem 1.3rem;
  background-color: var(--background);
}

.btn {
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.3rem;
}

.editBtn, .delBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.delBtn {
  margin-left: 10px;
}

.editBtn:hover, .delBtn:hover {
  opacity: 0.8;
}

.img {
  width: 30px;
  margin: 10px;
}